head { 
    background-color: black;
    color: white;
}
body {
    text-align: center;
    background-color: rgb(32, 32, 32);
    border: 5px solid;
}
div {
    text-align: center;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: stretch;
}

main{
    display: flex;
    margin: 14px;
    
}
.grid-container{
 display:grid ;
 grid-template-columns: 1fr 1fr;}